
ul.blog-list-item li {
    display: inline-block;
    margin-right: 1em;
}

div.blog-content p {
    text-indent: 2em!important;
}

div.paginator {
    text-align: center;
}

div.previous-next {
    margin-top: 1em;
}

div.comment {
    margin-top: 2em;
}

div.django-ckeditor-widget {
    width: 100%;
}

div.reply {
    margin-left: 2em;
}

div#reply_content_container {
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 1em 1em 0.5em;
}

div.like {
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.3em;
}

div.like .active{
    color: #f22;
}